*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* main{
    max-width: 1400px;
    margin: 0 auto;
} */
/* utility */
.width100{
    width: 100%;
}
.font_30{
    font-size: 30px;
}
.blue_text{
    color: var(--bs-blue);
}
/* header */
.sony{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}
.sony>img{
    height: 20px;
}
nav a{
    font-weight: 600;
}
.nav_btn{
    background-color: #363636;
    border-radius: 20px;
    color: white;
}
nav li{
    margin-left: 10px;
}
/* main */

/* jumbotron */
.jumbotron{
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
}

@media screen and (min-width: 992px) {
    .jubo_text {
        width: 38%;
    }
}
/* slider */
.slider img{
    border-radius: 20px;
    padding: 5px;
}
.slider img:hover{
    border: 1px solid var(--bs-blue);
}

/* playstation 5 */
#ps5_img{
    width: 400px;
    margin-left: 200px;
}
 @media screen and (max-width: 991.98px) {
     #ps5_img{
         margin-left: 0;
     }
 }
/* gadget playstation */
.gadget_card{
    color: gray;
}
.gadget_card img{
    width: 80%;
    margin: 0 auto;
}
.gadget_card:hover{
    color: black;
    border-bottom: 2px solid var(--bs-blue);
}

/* it takes 2 */
.bg_takes2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    height: 800px;
    color: white;
}
.bg_takes2 img{
    margin-top: 10%;
    max-width: 60%;
}
.bg_takes2 h2{
    font-size: 40px;
}
.bg_orange{
    background-color: #fd7e14;
}

/* nuove uscite */
.new_games img{
    max-width: 100%;
    border-radius: 10px;
}


/* ps plus */
.bg_lightgray{
    background-color: #bebcbb;
}
.ps_plus > img{
    max-width: 100%;
}
.bg_btn_plus{
    background-color: #d9dadc;
}

/* playstation now */
.bg_now{
    background-color: #161c3b;
}
/* social media */
.social img{
    width: 48%;
}

@media screen and (max-width: 767.98px) {
    .gadget_card p{
        display: none;
    }
    .ps_plus{
        display: none;
    }
    .ps_plus_section img{
        width: 70%;
    }
    .sconti h2, .bg_takes2 h2, .social h2{
        font-size: 50px;
    }
    .sconti p, .ps_plus_section p, .bg_takes2 p{
        font-size: 25px;
    }
    .sconti img{
        width: 80%;
        margin: 0 10%;
    }
    .now_img{
        display: none;
    }
    .social img{
        width: 45%;
    }
}